@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
,
*{
    margin: 0;
    padding: 0;
}


/* nav style */
nav{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 48px;
}
nav ul li a{
    text-decoration: none;
    color: #252432;
}
nav img{
    height: 82px;
    width: 135px;
}
/* text style */

.text-c{
    color: #8987A1;
    font-weight: 200;
}
.text-b{
    font-weight: bold;
}
.text-a{
    font-weight: 400;
}
/* banner style */
.main-con{
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    margin-top: 125px;
    align-items: flex-end;
    justify-content: flex-end;
}
.text-b-c{
    color: #E95A08;
    font-size: 3rem;
}
.text-b-f{
    color: black;
    font-size: 3rem;
}
.p-text{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    margin-top: 13px;
}
.text-container{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
    text-align: center;
}
/*  Plants Section */
.btn-color{
    background-color: #E95A08;
    color: white;
    padding: 10px 30px;
    border: none;
    width: 100%;
    border-radius: 5px;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 270px;
    height: 484px;
}
.img-grid{
    max-width: 270px;
    height: 322px;
    border-radius: 5px;
}
.grid-container{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 49px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}
.text-grid{
    font-weight: 400;
    color: #111111;
}
.text-grid-2{
    margin-top: -10px;
    font-weight: bold;
    color: #111111;
}
/* mobile responsive */
@media (max-width: 768px) {
    nav li:not(:last-child) {
        display: none;
    }
    nav img{
    height: 38px;
    width: 63px;
}
nav{
    max-width: 361px;
    margin: 0 auto;
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-con{
    display: flex;
    flex-direction: column-reverse;
}
.text-b-c{
    color: #E95A08;
    font-size: 2rem;
}
.text-b-f{
    color: black;
    font-size: 2rem;
}
.p-text{
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9rem;
    margin-top: 13px;
}
.text-con{
    margin-top: 28px;
    padding: 0 16px;
}
.img-r{
    max-width: 393px;
    margin: 0 auto;
    padding: 0;
    margin: 0;
}
.text-container{
    margin: 0 auto;
    margin-top: 65px;
}
/* Plants Section */
.grid-container{
    max-width: 393px;
    margin: 0 auto;
    margin-top: 28px;
    grid-template-columns: repeat(2, 1fr);
}
.item{
    max-width: 171px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 340px;
    border-radius: 5px;
}
.img-grid{
    max-width: 171px;
    height: 196px;
    border-radius: 5px;
}
}